.table-container {
  padding: 1rem 0rem;
}

.table-wrapper {
  display: flex;
  overflow: hidden;
  border: 1px solid #cedbe8;
  border-radius: 0.5rem;
  background-color: #f8fafc; /* slate-50 */
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}
.table thead tr {
  border-bottom: 1px solid #cedbe8;
}

.table th {
  padding: 0.75rem 1rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 500;
  color: #0d141c;
}

.table td {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: #0d141c;
}

.table td.action {
  color: #49739c;
}

.table td.timestamp {
  color: #49739c;
}

.table tr + tr {
  border-top: 1px solid #cedbe8;
}

.table td,
.table th {
  width: 400px;
}
.table td:last-child,
.table td:first-child,
.table th:last-child,
.table th:first-child {
  width: 200px; /* smaller width for last column */
}

.table td {
  height: 50px;
}
.pagination {
  padding-top: 0.75rem;
  display: flex;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
a {
  cursor: pointer;
}
.active {
  background-color: #e7edf4;
  border-radius: 0.5rem;
}
