.checkout-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #e7edf4;
  border-radius: 8px;
  padding: 20px;
  z-index: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.checkout-form .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000000;
  font-size: 1.5rem;
}
.checkout-form .form-group {
  margin-top: 15px;
}
.btn.border {
  border: 1px solid #000000;
  margin-left: 0;
}
.checkout {
  display: flex;
}
.checkout-1 {
  flex: 1;
  padding: 20px;
  width: 50%;
}
.checkout-2 {
  flex: 1;
  width: 50%;
  background-color: #f0f4f8;
  border-left: 1px solid #ccc;
}
.option {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.option input {
  width: 100%;
}
.option select {
  border-radius: 4px;
  width: 70px;
  border: 1px solid #ccc;
  background-color: #e7edf4;
}
